/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */






body {
	max-width: 960px;
	margin: 0 auto;
	}




header {
	position:relative;
	height:300px;
	}



#logo {
	position:relative;
	left:400px;
	top:30px;
	display:inline-block;
	margin:0 auto;
	text-align: center;
	}

/*NAV NAV NAV NAV NAV*/




#menu {
	position:absolute;
	top: 200px;
	text-align: center;
	border-top:2px solid black;
	width:100%;
	}




#menu ul li a {

	list-style:none;
	text-transform:uppercase;
	font-family:helvetica;
	font-size: 14px;
	font-weight: bold;
	text-decoration:none;
	color:black;
	}


#menu li {
	display:inline-block;
	padding:10px 10px 10px 10px;
	}


/*END MENU!!!!!!*/





/*PORTFOLIO*/



#images img {
	padding:5px;
	}



#images {
	position:relative;
	left:180px;
	bottom:30px;
	display:inline-block;
	margin:0 auto;
	text-align: center;
	}




/*ABOUT PAGE*/



#myface {
	position:absolute;
	left:200px;
	width:250px;
	}



.bio {
	position:absolute;
	left:680px;
	width:250px;
	line-height:150%;
	font-family: helvetica;
	font-size: 11px;
	}



h2  {
	font-size: 18px;
	font-family: helvetica;
	}




/*RESUME PAGE*/



#resume {
	position:absolute;
	right:395px;
	}


/*errythang portfolio*/



#larger {
	float:left;
	width:100%;
	}



.bodytext {
	position:absolute;
	right:270px;
	width:280px;
	line-height:150%;
	font-family: helvetica;
	font-size: 11px;
	}

.image-h-1 {
	position: relative;
	width: 500px;
	height: 350px;
	left: 40px;
margin-bottom:10px;
}

.image-h-2 {
position: relative;
width: 500px;
height: 140px;
left: 40px;
margin-bottom:10px;
}

.image-1 {
position: relative;
width: 500px;
height: 680px;
left: 40px;
margin-bottom:10px;
}


.bodytext h2 {
	font-family: helvetica;
	}




