/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */






body {
	max-width: 960px;
	margin: 0 auto;
	}




header {
	position:relative;
	height:300px;
	}



#logo {
	position:relative;
	left:400px;
	top:35px;
	display:inline-block;
	margin:0 auto;
	text-align: center;
	}





/*NAV NAV NAV NAV NAV*/

#menu {
	position:absolute;
	top: 200px;
	text-align: center;
	border-top:2px solid black;
	width:100%;
	}

#menu ul li a {

	list-style:none;
	text-transform:uppercase;
	font-family:helvetica;
	font-size: 14px;
	font-weight: bold;
	text-decoration:none;
	color:black;
	}

#menu li {
	display:inline-block;
	padding:10px 10px 10px 10px;
	}


#menu ul a:active  {color:white;}
#menu ul a:visited {color:black;}
#menu ul a:hover  {background-color:rgb(183,220,225);}


/*END MENU!!!!!!*/





/*PORTFOLIO*/



#images {
	float:left;
	width:960px;
	margin:10px;
	}

.homepage {
	width: 295px;
	height: 250px;
	margin: 10px;
}

.homepage-1 {
	width: 295px;
	height: 250px;
	margin-left: 10px;
	margin-right:10px;
	margin-top: 10px;
	margin-bottom:200px;
	}

#images img {

	opacity:1.0;
	}

#images img:hover {
	opacity:0.4;
	}


/*ABOUT PAGE*/



#myface {
	float:left;
	width:200px;
	margin-left:200px;
}



.bio {
	float:right;
	width:350px;
	margin-right:150px;
	font-family: helvetica;
	font-size: 11px;
	line-height: 15px;
}



h2  {
	font-size: 18px;
	font-family: helvetica;
	}

#designed {
	float:left;
	clear:left;
	width:300px;
	margin-left:203px;
	margin-top:10px;
	font-family: helvetica;
	font-size: 10px;
	font-style: italic;
}

#linklogo {
	float:left;
	clear:left;
	width:300px;
	margin-left:230px;
	margin-top:10px;
}

.linklogo {
	width:40px;
	height:40px;
	margin:5px;
}


/*RESUME PAGE*/



#resume {
	position:absolute;
	right:395px;
	}


/*errythang portfolio*/

#larger {
	float:left;
	width:500px;
}

.bodytext {
	float:right;
	width:350px;
	font-family: helvetica;
	font-size: 11px;
	line-height: 15px;
}

.bodytext h2 {
	font-family: helvetica;
	font-size: 15px;
	text-transform: uppercase;
	font-style: bold;
	}


.bodytext ul a {
	text-decoration: none;
	color:black;
}

.bodytext ul {
	color:black;
}


.bodytext ul a:active  {color:white;}
.bodytext ul a:visited {color:black;}
.bodytext ul a:hover  {background-color:rgb(183,220,225);}


/*BIG PORTFOLIO SIZED IMAGEZZZZ*/

.image-h-1 {
	width: 500px;
	height: 350px;
	margin-left: 40px;
	margin-bottom:10px;
}

.image-h-11 {
	width: 500px;
	height: 385px;
	margin-left: 40px;
	margin-bottom:10px;
}


.image-h-2 {
width: 500px;
height: 140px;
margin-left: 40px;
margin-bottom:10px;
}

.image-h-3 {
width: 500px;
height: 380px;
margin-left: 40px;
margin-bottom:10px;
}

.image-h-4 {
width: 500px;
height: 300px;
margin-left: 40px;
margin-bottom:10px;
}

.image-h-5 {
width: 500px;
height: 200px;
margin-left: 40px;
margin-bottom:10px;
}

.image-1 {
width: 500px;
height: 680px;
margin-left: 40px;
margin-bottom:10px;
}


/*PHOTOGG*/


.photography {
	width: 500px;
height: 340px;
margin-left: 40px;
margin-bottom:10px;
}


.bodytext {
	float:right;
	width:350px;
	font-family: helvetica;
	font-size: 11px;
	line-height: 15px;
}

/*ICONZZZ*/




