

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */










# {
  display:block;	
  text-indent:-9999px;    
  position:absolute;
  width:300px; height:80px;
  background:url(logo.png) no-repeat left top;	
}




header {
	position:relative;
	height:500px;
}






#logo {
position:absolute;
	top:30px;
	left:450px;
}


#menu ul li a {


	list-style:none;
	text-transform:uppercase;
	font-family:georgia;
	font-size: 14px;
	font-weight: bold;
	text-decoration:none;
	color:black;
}


#menu li {
float:left;
width:80px;

}

#menu {
	position:absolute;
	top: 150px; right:400px;
	border: 30px;

}






/*articles*/

#dogs {
	float:left;
	clear:both;
	width:450px;
	margin: 200px 15px 10px 200px;
	font-family:serif;
	font-size: 13px;
	line-height: 15px;
}



#cats {
	float:left;
	width:450px;
	margin: 200px 70px 0px 100px;
	font-family:serif;
	font-size:13px;
	line-height: 15px;

}

h2 {
	font-family:serif;
	font-weight: bold;
	font-size:24px;
	margin:10px 10px 10px 10px;
}

article img {
	width:400px;
}

/*endarticles*/











footer {
	clear:left;
	font-family: sans-serif;
	font-size: 9px;
	border-top:2px;

}

#wiki-link {
	float: left;
	width:300px;
}

#marth-link {
	float:right;
	width:300px;
}
